@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: "Plus Jakarta Sans", sans-serif;
}

.sr-only {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
}

main {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   height: 100%;
   padding: 10% 5%; 
   background-color: #1a1c20;
}

section {
   width: 720px;
   display: flex;
   background-color: #363C43;
   box-shadow: 5.67px 5.67px 3.78px 0 rgba(0, 0, 0, 0.4);
   border-radius: 18.89px;
   position: relative;
}

section::before {
   content: "";
   position: absolute;
   width: 612px;
   height: 4px;
   border-radius: 2.46px;
   background: linear-gradient(180deg, rgba(40, 40, 40, 0.1) 0%, rgba(248, 248, 248, 0.1) 100%),
   linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
   backdrop-filter: blur(9.837319374084473px);
   box-shadow: 0px 4px 4px 0px #00000054;
   bottom: -24px;
   left: 50%;
   transform: translateX(-50%);
}

aside {
   display: grid;
   align-content: space-between;
   height: 159.69px;
   width: 24px;
}

img {
   width: 190px;
   height: 179px;
}

.introduction {
   padding: 17px 56px 27px 12px;
   margin-bottom: 41px;
}

.introduction aside {
   margin-right: 17px;
}

.introduction .buttons {
   border-radius: 23px;
   background-color: #171717;
   display: flex;
   gap: 6px;
   justify-content: space-between;
   margin-bottom: 35px;
   padding: 6px 11px 7px 6px;
}

.introduction .buttons button {
   font-family: "Poppins", sans-serif;
   border: 0;
   background-color: transparent;
   color: #A3ADB2;
   font-size: 18px;
   font-weight: 500;
   width: 195px;
   height: 49px;
   border-radius: 16px;
}

.introduction .buttons .active {
   color: #FFFFFF;
   font-size: 18px;
   line-height: 16.12px;
   background-color: #28292f;
   box-shadow:
   13.49px 16.87px 67.47px 8.43px rgba(10, 10, 10, 0.4),   
   -8.43px -16.87px 50.6px -16.87px rgba(72, 91, 113, 0.6); 
}

.introduction div p {
   position: relative;
   width: 611px;
   font-size: 20px;
   font-weight: 400;
   line-height: 22px;
   white-space: pre-line;
   color: #969696;
}

.introduction div p::before {
   content: "";
   position: absolute;
   top: 0;
   right: -35px;
   display: block;
   width: 8px;
   height: 64px;
   border-radius: 8px;
   background-image: linear-gradient(#888989, #4A4E54);
}

.arrow {
   border-radius: 50%;
}

.gallery {
   padding: 20px 57px 22px 12px;
}

.gallery .gallery-content {
   margin-left: 17px;
   width: 100%;
}

.gallery .gallery-content .head {
   display: flex;
   justify-content: space-between;
   margin-bottom: 47px;
}

.gallery .head h2 {
   background-color: #171717;
   width: 149px;
   height: 62px;
   box-shadow: 0px 4px 10px 2px #00000040 inset;
   font-family: "Poppins", sans-serif;
   font-weight: 500;
   font-style: medium;
   font-size: 20px;
   line-height: 100%;
   border-radius: 20px;
   align-content: center;
   text-align: center;
   color: #FFFFFF;
}

.gallery .head .arrow {
   width: 45px;
   height: 45px;
   border-radius: 50%;
   box-shadow: 
   4px 5px 30px 5px rgba(16, 18, 19, 1),
   -5px -3px 30px -10px rgba(150, 190, 231, 1);
   border: none;
   background-image: linear-gradient(139.14deg, #303439 12.4%, #161718 94.96%);
}

.gallery .head .arrow:hover {
   opacity: 0.7;
}

.gallery .head .arrow:active {
   background-image: linear-gradient(139.14deg, #484e55 12.4%, #282a2c 94.96%)
}

.add-image {
   width: 131.32px;
   height: 46px;
   border-radius: 104px;
   color: #ffff;
   background-color: #41474e;
   border: 0;
   backdrop-filter: blur(104.5599365234375px);
   box-shadow: 
   0px 3.26px 3.26px 0px rgba(255, 255, 255, 0.15) inset,
   0px 0px 48.91px 0px rgba(255, 255, 255, 0.05) inset,
   9px 10px 7.1px 0px rgba(0, 0, 0, 0.4),
   -0.5px -0.5px 6.9px 0px rgba(255, 255, 255, 0.25);
   margin-right: 36.68px;
}

.control-btns {
   display: flex;
}

.arrows-btns {
   display: flex;
   gap: 18px;
}

.galleryContainer {
   overflow: hidden;
}

.gallery-images {
   width: 100%;
   max-width: 612px;
   display: flex;
   gap: 21px;
   transition: transform 0.4s ease;
}

.gallery-images img {
   border-radius: 24px;
   width: 190px;
   height: 179px;
   filter: grayscale(100%);
   flex-shrink: 0;
   transition: filter 0.3s;
}

.gallery-images img:hover {
   filter: grayscale(0%);
}
